/* You can add global styles to this file, and also import other style files */
@import "~typeface-sunflower/index.css";



body {
  font-family: 'Sunflower';
  background-color: #2b394b;
  color: whitesmoke;
}
