/* You can add global styles to this file, and also import other style files */
@import "~typeface-sunflower/index.css";

$bgcolor: #2b394b;

body {
  font-family: "Sunflower";
  background-color: #cecece;
  color: rgb(8, 8, 15);
  padding: 0;
  margin: 0;
}


.centered {
  text-align: center;
}
app-header {
  display: grid;
  width: 100vw;
  position: fixed;
  background-color: $bgcolor;
  top: 0;
  min-height: 50px;
  align-items: center;
  color: whitesmoke;
  z-index: 1000;
  box-shadow: 0px 2px 3px #1d2125;;
  .logo {
    max-width: 170px;
  }

  
}

app-home {
  .intro {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    margin-top: 80px !important;
    box-shadow: 0px 2px 3px #1d2125;

    @media screen and (max-width: 605px) {
      .text { 
        height: 50vh !important;
      }

      .text::after {
        display: none;
      }
    }

    .text {
      background-color: $bgcolor;
      color: whitesmoke;
      padding: 10px;
      position: relative;
      height: 275px;
      ul {
        list-style-type: none;

        li {
          margin-bottom: 5px;
        }
      }

      .mini {
        font-size: 0.70em;
      }
    }

    .text::after {
      content: "";
      position: absolute;
      top: 4px;
      border-style: solid;
      border-width: 0 0 287px 58px;
      right: -30px;
      transform: skewY(12deg) rotate(169deg);
      color: $bgcolor;
    }

    .image {
      background-image: url("assets/champs-soleil.jpg");
      background-size: cover;
    }
  }

  .container {
    margin: auto;
    max-width: 800px;
  }
}
.chart-container {
  margin-top: 20px !important;
  box-shadow: 0px 2px 3px #1d2125;
  width: 95vw;
  margin: auto;
  min-height: 200px;
  display: block;
  background-color: $bgcolor;
}

