<app-header></app-header>

<section class="intro container">
  <div class="text">
    <sup>{{ now.local().format('LLLL')}}</sup>
    <h1>Votre éphémeride, à votre position !</h1>
    <p>Retrouvez les heures de levé et de couché à votre positon (latitude et longitude). Les heures de lever et de
      soleil affichés tiennent compte de votre fuseau horaire. </p>
    <ul>
      <li> <fa-icon [icon]="['fas', 'sun']"> </fa-icon> Heure de levé :  {{ mainSolarInfo.currentSolarInfo.Sunrise.local() | amDateFormat:'HH:mm'}}</li>
      <li> <fa-icon [icon]="['fas', 'moon']"> </fa-icon> Heure de couché :  {{ mainSolarInfo.currentSolarInfo.Sunset.local() | amDateFormat:'HH:mm'}}</li>
      <li> <fa-icon [icon]="['fas', 'ruler']"> </fa-icon> Durée de la journée :  {{mainSolarInfo.currentSolarInfo.getHumanSolarTotal() }}  <span class="mini">({{mainSolarInfo.getSign()}} {{ mainSolarInfo.getDiff() | fineDuration }})</span></li>
    </ul>
  

  </div>
  <div class="image">

  </div>




</section>

<section class="no-data container" *ngIf="!mainSolarInfo" class="centered">
  no data :( please ensure that you have allowed us to get your current location !

</section>
<div class="chart-container">
  <canvas id="chart" #canvas>

  </canvas>
</div>
<footer class="centered">
  solar². All right reserved.
</footer>